#about{
    background: $white;
    padding: 80px 16px;
    .about-content{
        background: $white;
        .title {
            color: #333;
            font-weight: 700;
            font-size: 32px;
            margin: 0 0 20px 0;
            padding: 0;
            line-height: 1.2;
        }
        p {
            line-height: 26px;
            margin: 0 0 30px 0;
            color: #666;
            font-size: 1rem;
            font-weight: 400;
            text-align: left;
        }
        .icon-box {
            background: $white;
            background-size: cover;
            padding: 0 0 30px 0;
            .icon {
                float: left;
                background: $white;
                width: 64px;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                border-radius: 50%;
                border: 2px solid $theme-color;
                margin-right: 20px;
                i {
                    color: $theme-color;
                    font-size: 24px;
                }
            }
            .title {
                margin-left: 80px;
                font-weight: 500;
                font-size: 18px;
                text-transform: uppercase;
                color: #333;
                margin: 0 0 10px 0;
                padding: 0;
                line-height: 1.2;
                a{
                    color: #111;
                    text-decoration: none;
                }
            }
            .description {
                margin-left: 80px;
                line-height: 24px;
                font-size: 14px;
                margin: 0 0 30px 0;
                display: grid;
            }
        }
    }
    .background {
        min-height: 300px;
        background: url(../images/about-img.jpg) center top no-repeat;
        margin-bottom: 10px;
    }
}