#team{
    padding: 80px 16px;
    .member{
        text-align: center;
        margin-bottom: 20px;
        .pic {
            margin-bottom: 15px;
            overflow: hidden;
            height: 260px;
            img {
                max-width: 100%;
            }
        }
        h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
            margin: 0 0 10px 0;
            padding: 0;
            line-height: 1.2;
        }
        span {
            font-style: italic;
            display: block;
            font-size: 13px;
            color: #666;
            font-weight: 400;
            line-height: 1.5;
        }
        .social {
            margin-top: 10px;
            a {
                color: #b3b3b3;
                text-decoration: none;
                &:hover{
                    color: $theme-color;
                }
                i {
                    font-size: 18px;
                    margin: 0 2px;
                }
            }
        }
    }
}